


<h3>Contact Details</h3>

    <table border="1">
        <tr>
            <td> Personal</td>
            <td>ammu</td></tr>
            <tr><td> Social </td>
                <td><a href="facebook.com">Social </a> </td></tr>
            
                <tr><td> Official </td>
                    <td><a href="facebook.com"> Official </a></td></tr>
                    <tr><td> Emergency </td>
                        <td><a href="facebook.com">Emergency</a> </td></tr>

    </table>

        <div style="background-color:skyblue;color:teal">
                <router-outlet></router-outlet>        </div>

