
<h3 style="text-align: center;background-color: blue;color:white">ABOUT APP</h3>

<table border="2"  style="color: white;background-color:skyblue;border-color: white;font-weight:200;">
<tr>
               <td> <a routerLink="about"> About </a> </td>
        <td > <a routerLink="contact"> Contact </a> </td>
        <td> <a routerLink="education"> Education </a> </td>
        <td> <a routerLink="certification"> Certifications </a> </td>
        <td> <a routerLink="hobbies"> Hobbies </a> </td>
        <td> <a routerLink="vision"> Vision </a> </td>
        <td> <a routerLink="myfriends"> My Friends </a> </td>
    </tr>
</table>




<div style="background-color:white;color:black;font-style:normal;">
<router-outlet></router-outlet>
</div>